/* all cart container*/



.cartItem {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #888;
}



/* product info ( image and price ) */

.cartImageAndTitle {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}

.cartImage {
    width: 100%;
}

.cartImage img {
    width: 100%;
}

.cartImageAndTitle .cartTitle {
    display: none;
}

/* counts and trash container */

.countAndTrashContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* cart price */
.cartPrice h6 {
    line-height: 20px;
}
.cartPrice h6:nth-child(2) {
    font-size: 14px;
}

.countBtnWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

div.countAndTrashContainer button, button.deleteBtn {
    /* main button styles */
    position: relative;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #eaeaea;
    box-shadow: 0 0 4px #999;
}

.incBtn {
    background: url(../../assets/svg/plus.svg) no-repeat center;
}
.countArea {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    box-shadow: inset 5px 5px 6px #999,
    inset -5px -5px 6px #ffffff;
}
.decBtn {
    background: url(../../assets/svg/minus.svg) no-repeat center;
}

/* total info*/

.totalContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.totalItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discountPriceContainer {
    display: none;
}
.cartCategory {
    display: none;
    gap: 60px;
}
button.deleteBtn {
    background: url(../../assets/svg/trash.svg) no-repeat center;
}

button.checkoutBtn {
    font-size: 22px;
    text-transform: inherit;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    font-weight: 700;
    color: #000;
    border-radius: 8px;
    border: 2px solid #c2c2c2;
    background: #eee;
    box-shadow: 5px 5px 6px #999,
    -5px -5px 6px #ffffff;
}

@media screen and ( min-width: 800px ) {
    .cartImageAndTitle .cartTitle {
        display: flex;
        align-items: center;
    }
    .cartImage img {
        width: 100%;
    }
    .cartItem {
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 40px 20px  ;
    }
    button.checkoutBtn {
        width: 30%;
    }
    .cartImageAndPrice {
        align-items: center;
        gap: 40px;
    }
    .cartTitle {
        display: flex;
        min-width: 150px;
        width: 150px;
        align-items: center;
    }
    .titleContainer {
        display: none;
    }
    .cartImage {
        width: 250px;
        max-width: 250px;
    }
    .countAndTrashContainer {
        justify-content: space-between;
        flex-grow: 1;
    }

    /* total info*/
    .totalItem {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and ( min-width: 961px ) {
    .productInfo {
        width: 50%;
        flex-grow: 0;
    }
    .cartCategory {
        display: flex;
        width: 100%;
        padding: 10px 40px;
    }
    .cartCategory h6:nth-child(1){
        width: 50%;
        padding-left: 90px;
        flex-grow: 0;
    }
    .cartCategory h6:nth-child(2){
        width: 80px;
        flex-grow: 0;
    }
    .cartCategory h6:nth-child(3){
        flex-grow: 1;
    }
    .cartCategory h6:nth-child(4){
        flex-grow: 1;
    }
    .discountPriceContainer {
        display: block;
        flex-grow: 0;
    }
    .cartPrice {
        flex-grow: 0;
    }
}