.tabsItems {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px;
}

.tabsItems>div:first-child {
    width: 5px;
}
.tabsItems>div:last-child {
    width: 5px;
}

.tabsItems > div > div {
    padding: 5px;
    gap: 10px;
}

.tabsItems button {
    margin: 5px;
    border-radius: 8px;
}
.tabsItems button:active {
    border-radius: 8px;
    box-shadow: inset 5px 5px 6px #999,
    inset -5px -5px 6px #ffffff;
    cursor: pointer;
}

.tabBtn {
    width: 180px;
    height: 50px;
    padding: 5px 10px;
    background-color: transparent;
}


.addBtn {
    border-radius: 8px;
    box-shadow: inset 5px 5px 6px #999,
    inset -5px -5px 6px #ffffff;
    cursor: pointer;
}

.addBtn:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    background-color: #f25858;
    border-radius: 50%;
}



@media screen and ( min-width: 800px ) {
    .tabsItems > div > div {
        gap: 80px;
    }
    .tabsItems:last-child {
        display: none;
    }
}


