.tryArea {
    position: relative;
    margin-top: 40px;
    width: 100%;
    max-width: 750px;
    height: 700px;
    overflow: hidden;
}
.photoBox {
    position: absolute;
    z-index: 0;
}

@media screen and (min-width: 800px){
    .tryArea {
        overflow: visible;
    }
}