.header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header .defaultNav {
  display: flex;
  gap: 50px;
}

.header ul {
  list-style-type: none;
  padding: 0px;
}

.mobNav {}

.header__logo {
  max-width: 229px;
}

.header__nav {
  min-width: 200px;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
}


.header__nav__item {
  width: 26px;
  height: 23px;
  display: inline-block;
  margin-right: 37px;
  cursor: pointer;
  background: url(../../assets/svg/icon_heart.svg) no-repeat center/22px;
}

.like {
  background: url(../../assets/svg/icon_heart.svg) no-repeat center/22px;
}

.basket {
  background: url(../../assets/svg/iconBasket.svg) no-repeat center/22px;
}

.profile {
  background: url(../../assets/svg/icon_user.svg) no-repeat center/22px;
}

.header__nav__button {
  width: 26px;
  height: 23px;
  display: inline-block;
  background: url(../../assets/svg/icon_menu.svg) no-repeat center/cover;
  cursor: pointer;
}

.header__nav__item:hover,
.header__nav__button:hover {
  transition: 1s;
  opacity: 0.5;
}

/*для скринридеров*/
.header__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 10000px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.60);
}

.menu__content {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
}

.menu__button {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 52px;
  background: url(../../assets/svg/menu_cross.svg) no-repeat center/30px;
  cursor: pointer;
}

.menu__list {
  max-width: 232px;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 21px;
}

.menu__list__item {
  display: inline-block;
  margin-bottom: 21px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.74);
}

.menu__list__item:hover {
  transition: 1s;
  opacity: 0.5;
}