.footer {
  max-width: 100%;
  min-height: 215px;
  padding: 58px 0 80px 0;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 18px;
}

.footer__logo {
  max-width: 150px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}

.menu__list li {
  width: fit-content;
}

.menu__list__item,
.menu__list__social__item {
  color: rgba(0, 0, 0, 0.74);
  transition: 1s;
}

.menu__list__item:hover,
.menu__list__social__item:hover {
  opacity: 0.5;
}

.menu__list__title {
  text-align: center;
  margin-bottom: 5px;
}

.menu__list__social {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu__list__social__item {
  display: block;
  width: 20px;
  height: 20px;
}

.instagram {
  background: url(../../assets/svg/instagram.svg) no-repeat center/100%;
}

.vk {
  background: url(../../assets/svg/vk2.svg) no-repeat center/100%;
}

.telegram {
  background: url(../../assets/svg/telegram.svg) no-repeat center/100%;
}

.youtube {
  background: url(../../assets/svg/youtube.svg) no-repeat center/100%;
}

/*для скринридеров*/
.footer__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
  }

  .footer {
    max-width: 600px;
    padding: 20px 0 40px 0;
  }

  .menu__list {
    order: 3;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    max-width: 300px;
    justify-content: center;
  }

  .menu__list li {
    width: auto;
  }

  .menu__list {
    text-align: center;
  }

}