.dragContainer {
    display: flex;
    align-items: flex-start;
    width: fit-content;
    position: absolute;
    gap: 10px;
    z-index: 10;
}

.tryImage {
    cursor: move;
}

.tryImage + div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35px;
    top: 40px;
}

svg.pointSvg {
    width: 35px;
    height: 35px;
    min-height: 35px;
    border-radius: 50%;
    padding: 5px;
    opacity: .7;
    background: rgba( 255, 255, 255, 0.6 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 1 );
}
.controls {
    position: relative;
    z-index: 10;
}
.glassControls {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 90px;
    opacity: .7;
    background: rgba( 255, 255, 255, 0.6 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 1 );
    border-radius: 10px;
    width: fit-content;
}

.glassControls button {
    width: 35px;
    border-radius: 10px;
}
.glassControls button:active {
    background-color: #fff;
}

.incBtn {
    background: url(../../../assets/svg/plus.svg) no-repeat center;
}
.decBtn {
    background: url(../../../assets/svg/minus.svg) no-repeat center;
}