.App {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin-bottom: 50px;
}

.componentRenderArea {
  min-height: 80vh;
  margin: 50px 0px;
}

.componentContainerTitle {
  padding-bottom: 40px;
}





/*   */
.personMain {
  margin-top: 50px;
  height: inherit;
}

.personWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.personItem {
  width: 100px;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #aaa;
  border-radius: 40px;
  transition: .1s;
}

.personItemActive {
  width: 850px;
  transition: .2s;
}

.demoContentWrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  flex-shrink: 0;
  height: 850px;
  transition: .2s;
  padding: 20px 0;
}

.demoContentWrapper .demoTitle {
  font-size: 30px;
  font-weight: 400;
  width: 20px;
  word-break: break-all;
}

.personImage {
  max-height: 300px;
}

.demoTitleHidden {
  display: none;
}

.demoContentWrapper img {
  width: 80px;
  height: 80px;
  border: 1px solid #aaa;
  border-radius: 50%;
  transition: .2s;
}

.aboutPerson {
  display: none;
  opacity: 0;
}

.personImage {
  border-radius: 40px;
}

.aboutPersonShow {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: inherit;
  opacity: 1;
  transition: opacity .5s ease-in-out .5s;
}

.badgeWrapper, .personSocialLinks, .soft {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.personDescription {
  height: 200px;
  max-height: 200px;
  font-size: 20px;
}

.personDescription h6 {
  position: relative;
}
.personDescription h6:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #222;
  mix-blend-mode: difference;
  z-index: 32;
}

@media screen and ( max-width: 960px ){
  .personItem {
    width: 100%;
    height: 100px;
  }

  .personItemActive {
    height: 100%;
    padding: 20px;
    flex-direction: column;
  }

  .personDescription {
    height: 100%;
    max-height: 100%;
    font-size: 20px;
  }

  .demoContentWrapper .demoTitle {
    word-break: normal;
  }

  .demoContentWrapper {
    width: 100%;
    height: inherit;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 30px;
  }

  .personItemActive .demoContentWrapper {
    margin-bottom: 30px;
  }

  .demoContentWrapper img {
    margin: 0;
  }
}