.App {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin-bottom: 50px;
}

.componentRenderArea {
  min-height: 95vh;
  margin-bottom: 50px;
}

.componentContainer {}

.footer {}