* {
  font-family: "Open Sans" !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans" !important;
}

body {
  background: #f2f2f2;
  padding: 0 20px;
}

#mobNav {
  position: absolute;
  display: none;
}

.neumorph {
  border-radius: 8px;
  background: #eee;
  box-shadow: 5px 5px 6px #999,
    -5px -5px 6px #ffffff;
}

.neumorph .btn:active {
  border-radius: 8px;
  box-shadow: inset 5px 5px 6px #999,
    inset -5px -5px 6px #ffffff;
  cursor: pointer;
}

button svg {
  width: 30px;
  height: 30px;
}

button,
.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 160px;
  height: 36px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #555;
}

button img {
  margin-left: 5px;
}

button.btn p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  text-transform: none;
}

.activeBtn {
  box-shadow: inset 5px 5px 6px #999,
    inset -5px -5px 6px #ffffff;
}