* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, transparent 30%, #dcdeea 150%);
  padding: 0px 20px;
}

#mobNav {
  position: absolute;
  display: none;
}

.neumorph {
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow:  5px 5px 5px #dadada,
  -5px -5px 5px #ffffff;
}

button svg {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}

button {
  border: none;
  font-size: 20px;
  color: #555;
}

.activeBtn {
  box-shadow:  -5px -5px 5px #dadada,
  5px 5px 5px #ffffff;
}