.catDescTitle {
    font-size: 32px;
}

.catDescText {
    font-size: 21px;
}
.catDescription>* {
    padding-bottom: 40px;
}

.glassCardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.glassCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 80px 20px 20px;
    transition: .2s;
    width: 100%;
    cursor: default;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

.sideAttributes {
    position: absolute;
    right: 20px;
    top: 20px;
}
.sideAttributes button {
    width: fit-content;
}

.glassCardTitle {
    margin-bottom: 10px;
}

.cardAttributes {
    height: 300px;
}

.priceText {
    font-size: 18px;
}

.cardPrice{
    margin: 10px 0px;
    padding-top: 10px;
    border-top: 1px solid #333;
}

.cardPrice h6:nth-last-child(1), .cardPrice h6:nth-last-child(2) {
    display: inline;
}

.cardPrice h6:nth-last-child(1) {
    margin-left: 20px;
    opacity: .4;
}

.cardButtonsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 380px) {
    .cardButtonsWrapper {
        gap: 20px;
        flex-wrap: wrap;
    }
}

@media (min-width: 960px) {
    .glassCard {
        width: calc(50% - 30px);
    }
}

@media (min-width: 1300px) {
    .glassCard {
        width: calc(33% - 30px);
    }
}